div.qoute-text {
  display: none;
}
div.qoute {
  padding: 0 4rem 0;
  white-space: nowrap;
}
div.page-name .name {
  display: none;
}
div.page-name {
  padding: 0;
}
.view-page .resume {
  padding: 0 10px;
  white-space: nowrap;
  font-size: 0.8rem;
}
.view-page .downloadBtn {
}

.view-page .nav {
  padding: 0;
}
.view-page .profile-pic {
  width: 200px;
}
.view-page .text {
  padding: 5rem 5rem 0;
}
.view-page .text h1 {
  white-space: nowrap;
  font-size: 1.5rem;
}
.view-page .nav ul li {
  white-space: nowrap;
  padding: 4px;
  border-radius: 8px;
  margin: 10px;
}
section.testimonies {
  padding: 0 0 0;
  height: 600px;
}
div.testimony {
  display: block;
}

div.testimony-image img {
  width: 100px;
}
.career .career-summary {
  display: block;
  max-width: 450px;
  margin: auto;
}
section.career {
  line-height: 1rem;
}
.career .career-wrap h1 {
  font-size: 1.5rem;
  padding: 0px 5rem;
}
.career .career-wrap .line {
  margin: auto;
  margin-top: 5px;
  height: 1.5px;
  width: 50px;
}
.career .career-wrap .theme {
  margin: auto;
  font-weight: 50;
}
.career .career-wrap .theme i {
  font-size: 2px;
  font-weight: 50;
}

section.profession {
  max-width: 450px;
  margin: auto;
  padding: 3rem;
}

.profession .profession-wrap {
  display: block;
  margin-left: 3rem;
}
#contact button.Btn {
  max-width: 30%;
}
#contact .contact form textarea {
  width: 80%;
}
#contact .contact form div {
  display: flex;
}
section#contact {
  margin: 0;
  padding: 10px;
}
@media (min-width: 380px) {
  .view-page .text {
    padding: 5rem 6rem 0;
  }
  div.qoute {
    padding: 0 5rem 0;
  }
}
