body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.active {
  background-color: #271b1b;
  background-color: rgba(25, 21, 29, 0.8);
  color: white;
}
h1 {
  color: darkgoldenrod;
  font-family: "Unna", serif;
  font-style: oblique;
}
h2 {
  font-size: 1.2rem;
  font-family: "Lily Script One", serif;
  font-weight: 400;
}

a {
  color: #ffff;
  text-decoration: none;
}
.view-page {
  height: 100vh;
  width: 100%;
  position: relative;
  background: #333;
}
.overlay {
  background: url("/image/pexels-veeterzy-303383.jpg") no-repeat center
    center/cover;
  height: 100vh;
  width: 100%;
  position: absolute;
}
.overlay::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(25, 21, 29, 0.8);
}
.resume {
  position: relative;
  color: #ffff;
  font-family: "Lily Script One", serif;
  font-style: italic;
  cursor: pointer;
}
.resume .highlight {
  color: darkgoldenrod;
}
.text {
  position: relative;
  padding: 20px 40% 0;
  color: aliceblue;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text h2 {
  background-color: rgb(66, 60, 60);
  border-radius: 10%;
  font-size: 12px;
  padding: 5px;
}
.profile-pic img {
  border-radius: 100%;
  width: 50%;
}

.page-name {
  position: relative;
  z-index: 1;
  padding: 2px 5rem;
  color: #ffff;
  grid-template-columns: 2fr 2fr 2fr;
  cursor: pointer;
  display: grid;
  width: 100%;
}
.page-name .highlight {
  color: darkgoldenrod;
  font-style: oblique;
}

.nav ul {
  display: flex;
}
.nav ul li {
  padding: 0.5rem;
  list-style: none;
  color: #ffff;
  background-color: darkgoldenrod;
  border-radius: 10px;
  margin: 10px;
}

.qoute {
  display: flex;
  position: relative;
  justify-content: space-between;
  color: #ffff;
  font-style: italic;
  line-height: 1.2rem;
}
.qoute-text {
  width: 500px;
  padding: 2rem;
}
.qoute .highlight {
  color: darkgoldenrod;
}
.downloadBtn {
  padding: 5rem 2rem 0;
}
.downloadBtn ul li {
  padding: 5px 10px;
  list-style: none;
  color: #ffff;
  background-color: darkgoldenrod;
  border-radius: 10px;
}
.downloadBtn a {
  cursor: pointer;
  text-decoration: none;
}

.career-summary {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  max-width: 1000px;
  margin: auto;
  padding: 0 0 2rem;
}
.career-info {
  margin: auto;
  padding: 2rem;
  font-size: 1.1rem;
  border: 1px solid darkgoldenrod;
  border-radius: 20px;
  margin: 1rem;
}
.career-flex {
  display: flex;
}
.career-wrap h1 {
  font-size: 2rem;
  padding: 0px 10rem;
}
.career-wrap .line {
  background-color: darkgoldenrod;
  margin-top: 5px;
  border-radius: 20px;
  padding: 0.2px;
  height: 2px;
  width: 150px;
}
.career-wrap .theme {
  margin-right: 10rem;
  margin-top: 2rem;
}
.career-wrap .theme i {
  border: 2px solid darkgoldenrod;
  margin: 5px;
  border-radius: 50%;
}
.theme.active .mode1 {
  display: block;
}
.theme .mode1 {
  display: none;
}
.theme.active .mode2 {
  display: none;
}
.theme .mode2 {
  display: block;
}
.career-wrap {
  display: flex;
  justify-content: space-between;
}
.profession li {
  list-style: none;
}
.profession {
  border: darkgoldenrod 3px solid;
  border-radius: 20px;
  font-family: "Unna", serif;
  font-style: normal;
  max-width: 1000px;
  margin: auto;
  padding: 3rem;
}
.profession h1 {
  color: darkgoldenrod;
  font-family: "Unna", serif;
  font-style: oblique;
}
.profession-wrap {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin-left: 3rem;
}
.profession .line {
  background-color: darkgoldenrod;
  margin-top: 5px;
  margin-left: 1rem;
  border-radius: 20px;
  height: 2px;
  width: 100px;
}
.profession .headings {
  line-height: 2px;
}
.testimonies {
  padding: 0 20rem 0;
  overflow-x: hidden;
  height: 400px;
}
.testimonies h1 {
  border: 1px #333 solid;
  border-radius: 20px;
  padding: 1rem;
  width: 50%;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  font-family: "Times New Roman", Times, serif;
}
.testimonies-wrap {
  display: flex;
  position: relative;
}

.testimony {
  display: flex;
  border-radius: 20px;
  padding: 1rem;
  position: absolute;
  border: 1px darkgoldenrod solid;
}
.testimony p {
  margin: auto;
  padding: 1rem;
  margin: 1rem;
  max-width: 500px;
  text-align: center;
}
.testimony-image {
  text-align: center;
}
.testimony-image img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
.contact {
  text-align: center;
  margin: auto;
  max-width: 800px;
  font-family: "Unna", serif;
  font-style: normal;
}
.contact-info {
  background: url("/image/pexels-olly-842548.jpg") no-repeat center center/cover !important;
  max-width: 100%;
  color: #ffff;
  border-radius: 30px;
  padding: 2rem;
}
.contact-info h1 {
  color: #ffff;
}
.contact form input {
  position: relative;
  margin: 1.5rem;
  padding: 0.2rem;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
}

.contact form textarea {
  height: 100px;
  width: 35%;
  border-radius: 20px;
  text-align: center;
}
form input:focus,
form textarea:focus {
  outline: none;
}
button.Btn {
  background-color: darkgoldenrod;
  color: #ffff;
  border: 2px solid darkgoldenrod;
  padding: 0.5rem;
  max-width: 15%;
  border-radius: 10px;
}
footer {
  text-align: center;
  background-color: rgb(230, 206, 148);
  padding: 0 10px;
  border-radius: 5px;
  margin-top: 10px;
}

@media (min-width: 750px) and (max-width: 1024px) {
  .overlay {
    height: 70vh;
  }
  .page-name .name {
    display: none;
  }
  .page-name {
    display: flex;
    justify-content: space-between;
  }
  .nav {
    padding: 0 8rem 0 0;
  }
  .view-page {
    height: 70vh;
  }
  section.testimonies {
    padding: 0 10rem 0;
    height: 600px;
  }
  div.testimony {
    display: block;
  }
  div.testimony-image img {
    height: 0%;
    width: 100px;
  }
  .career .career-summary {
    display: block;
    max-width: 450px;
    margin: auto;
  }
  section.career {
    margin-top: 20px;
    line-height: 1rem;
  }
  .career .career-wrap h1 {
    font-size: 1.5rem;
    margin: auto;
  }
  .career .career-wrap .line {
    margin: auto;
    margin-top: 5px;
    height: 1.5px;
    width: 50px;
  }
  .career .career-wrap .theme {
    margin: auto;
    font-weight: 50;
  }
  .career .career-wrap .theme i {
    font-size: 2px;
    font-weight: 50;
  }
  section.profession {
    max-width: 450px;
    margin: auto;
    padding: 3rem;
  }

  .profession .profession-wrap {
    display: block;
    margin-left: 3rem;
  }
  #contact button.Btn {
    max-width: 30%;
  }
  #contact .contact form textarea {
    width: 50%;
  }
  section#contact {
    padding: 0 10px;
  }
}
